<nb-layout>
    <nb-layout-header fixed style="background-color:#ffffff;border-bottom: 1px solid #D0D0D0;">
   <p style="font-size: 26px;font-family: 'Exo', sans-serif;">Effort Management App</p>
    </nb-layout-header>
    <nb-layout-column style="background-color: #fafafa;padding: 1.25rem 2.25rem 0.75rem;">
      <router-outlet></router-outlet>
    </nb-layout-column>
    <nb-layout-footer fixed style="font-size:30px;font-size:18px;font-family: 'Exo', sans-serif;">
        Developed by Devesh Chatuphale
    </nb-layout-footer>
  </nb-layout>